.primary-text {
  color: $primary-color;
}

.app-accent-1-text {
  color: #ff2ad4;
}

.app-accent-1 {
  background-color: #ff2ad4;
}

.app-accent-2-text {
  color: #1c63bf;
}

.app-accent-2 {
  background-color: #1c63bf;
}
