body {
  font-size: 1.6rem;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(64, 64, 64, 0.25), rgba(151, 164, 168, 0.75), rgba(64, 64, 64, 0.25));
  width: 60%;
}

h1 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2.2rem;
}

h1.banner {
  margin: 0 0;
}

h4.banner {
  margin: 1rem 0;
  font-size: 2.2rem;
}

h5.banner {
  margin: 0 0;
  font-size: 1.8rem;
}

footer.page-footer {
  font-size: 1.4rem;

  h5 {
    font-size: 1.6rem;
  }

  .footer-copyright {
    height: auto;
    line-height: normal;
    font-size: 1.0rem;
    padding: 1rem 0;
  }
}

a {
  color: darken($secondary-color, 15%);

  &.underline {
    padding-bottom: 2px;
    line-height: 2.0;
    border-bottom: darken($secondary-color, 15%);
    border-bottom-width: 2px;
    border-bottom-style: dotted;
  }
}

.italic-text {
  font-style: italic;
}

.icon-block {
  padding: 0 0.75rem;
  text-align: justify;
}

/*********************
  Media Query Classes
**********************/
.hide-on-smallest-only {
  @media #{$smallest-and-down} {
    display: none !important;
  }
}
