nav {

  .nav-wrapper {

    i {
      line-height: inherit;
    }

    a {
      font-size: 1.6rem;
    }

    a#btn-open-side-nav i {
      margin-left: 0.4rem;
    }

    li#li-close-side-nav {
      background-color: $navbar-background-color;
      a { color: $navbar-font-color; }
    }

    #menu {
      ul li a {
        padding: 0 1.5em 0 1.5em;
      }
    }

    #brand {
      padding-right: 1em;
      ul li a {
        padding: 0 8px;
      }
    }

    #slide-out {
      ul li a {
        padding-left: 1.5em;
      }
    }
  }

  box-shadow: none;

}
